/*GENERAL*/
*
{
	-webkit-transition: all .2s;
	transition: all .2s;
}

*:focus,
*:hover
{
	box-shadow:none !important;
	outline:none !important;
	text-decoration: none !important;
}

body
{
	background-color:#f5f5f5;
}

.thumbnail
{
	background-color:#fff;
	border-radius:0;
	padding:10px;
	border:none;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	-webkit-transition: all .2s;
	transition: all .2s;
}

a .thumbnail:hover
{
	background-color: #EAEAEA;
}

a:hover
{
	text-decoration: none;
	cursor:pointer;
}

.result-list
{
	min-height:200px;
}

.result-list.loading:after
{
	content:"loading...";
	margin-left:20px;
}

.no-top-margin
{
	margin-top:0;
}

a > h1:hover,
a > h2:hover,
a > h3:hover,
a > h4:hover
{
	color: #d9230f;
}

a p
{
	color: #525252;
	white-space: pre;
	word-break:break-word;
}

/*REPO LIST PAGE*/

.search-block
{
	margin-bottom:20px;
}

.repo-header
{
	margin-top:0;
}

ul.repo-details
{
	margin:0;
	padding:0;
}

.repo-details li
{
	color:black;
	display: inline-block;
	margin:0;
	padding:5px;
}

.avatar
{
	display:inline-block;
	float:right;
	height:50px;
	width:50px;
}