<div class="row">
	<div class="col-md-5">
		<h3>Repository Details</h3>
		<div class="thumbnail">
			<img src="{{repo.owner.avatar_url}}" class="avatar">
			<a href="{{repo.html_url}}" target="_blank"><h1 style="margin-top:0;">{{repo.full_name}}</h1></a>
			<p class="lead">{{repo.description}}</p>
			<p>Language: {{repo.language  || "Na."}}</p>
			<p>Created: {{repo.created_at}}</p>
			<br>
			<p>Open issues: {{repo.open_issues_count}}</p>
			<p>Stargazers: {{repo.stargazers_count}}</p>
			<p>Subscribers: {{repo.subscribers_count}}</p>
			<p>Watchers: {{repo.watchers_count}}</p>
			<p>Forks: {{repo.forks_count}}</p>
			<br>
			<p>Default Branch: {{repo.default_branch}}</p>
			<br>
			<a href="{{repo.homepage}}">Homepage</a>
			
		</div>
	</div>

	<div class="col-md-7 container result-list" ng-class="{loading: loading}">
		<h3>Unresolved Issues ({{repo.open_issues_count}})</h3>
		<div ng-repeat="issue in issuelist">
			<a href="{{issue.html_url}}" target="_blank">
				<div class="thumbnail">
					<h3 class="no-top-margin">{{issue.title}}</h3>
					<p>{{issue.body}}</p>
				</div>
			</a>
		</div>
	</div>
</div>