<div class="row">
	<div class="col-md-12 search-block">
		<form>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for github repos..." ng-model="search">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" ng-click="runSearch()">SEARCH</button>
				</span>
			</div>
		</form>
	</div>

	<div class="result-list" ng-class="{loading: loading}">
		<div class="col-md-12 col-sm-12" ng-repeat="repo in repos">
			<a href="#/details/{{repo.full_name}}">
				<div class="thumbnail">
					<h3 class="repo-header">{{repo.full_name}}</h3>
					<p>{{repo.description}}</p>
					<ul class="repo-details">
						<li>Created: {{repo.created_at}}</li>
						<li>Language: {{repo.language || "Na."}}</li>
						<li>Open issues: {{repo.open_issues_count}}</li>
					</ul>
				</div>
			</a>
		</div>
	</div>
</div>